<launch>
  <node name="goal_publisher" pkg="ego_planner" type="goal_publisher" output="screen">
    <param name="drone_count" value="8" type="int"/>
    <rosparam param="goal_publisher/goals">
drone_0:
  - {x: -26.0, y: 0.0, z: 0.5}
  - {x: -26.0, y: -0.0, z: 0.5}
  - {x: -26.0, y: 0.0, z: 0.5}
  - {x: -23.2, y: -4.7, z: 0.5}
drone_1:
  - {x: -20.8, y: -3.0, z: 0.5}
  - {x: -26.0, y: -2.9, z: 0.5}
  - {x: -20.8, y: -3.0, z: 0.5}
  - {x: -20.9, y: 0.2, z: 0.5}
drone_2:
  - {x: -26.0, y: -6.0, z: 0.5}
  - {x: -26.0, y: -5.9, z: 0.5}
  - {x: -26.0, y: -6.0, z: 0.5}
  - {x: -26.0, y: -6.1, z: 0.5}
drone_3:
  - {x: -31.2, y: -3.0, z: 0.5}
  - {x: -28.4, y: 2.8, z: 0.5}
  - {x: -26.0, y: 0.0, z: 0.5}
  - {x: -29.4, y: -4.8, z: 0.5}
drone_4:
  - {x: -31.2, y: 3.0, z: 0.5}
  - {x: -30.7, y: 5.9, z: 0.5}
  - {x: -26.0, y: 0.0, z: 0.5}
  - {x: -31.2, y: 0.2, z: 0.5}
drone_5:
  - {x: -26.0, y: 6.0, z: 0.5}
  - {x: -23.4, y: 3.1, z: 0.5}
  - {x: -26.0, y: 0.0, z: 0.5}
  - {x: -31.3, y: 5.6, z: 0.5}
drone_6:
  - {x: -20.8, y: 3.0, z: 0.5}
  - {x: -20.9, y: 6.0, z: 0.5}
  - {x: -26.0, y: 0.0, z: 0.5}
  - {x: -20.9, y: 5.7, z: 0.5}
drone_7:
  - {x: -20.8, y: 3.0, z: 0.5}
  - {x: -20.9, y: 6.0, z: 0.5}
  - {x: -26.0, y: 0.0, z: 0.5}
  - {x: -20.9, y: 5.7, z: 0.5}
    </rosparam>
  </node>
</launch>
